<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "shared/head_tags" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application" %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="jp-Wrapper <%= "jp-Wrapper-full" if request.path == root_path %>">
    <%= render partial: "shared/navigation" %>

    <div class="jp-Wrapper-content">
      <main role="main" class="jp-Wrapper-main">
        <%= yield %>
      </main>

      <footer class="jp-Footer">
      </footer>
    </div>
  </body>
</html>
